version: 2.1

jobs:
  build:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps:
      - checkout #githubからCircleCIにgit cloneする
      - run: sudo composer self-update --2 #エラー回避のためにcomposerをアップデート
      - run: composer install -n --prefer-dist #composerを使用して,php関連のパッケージをインストール
      - run: npm ci #npmを使用して、javascript関連のパッケージをインストール
      - run: npm run dev #javascriptのトランスパイル
      - run: ./vendor/bin/phpunit #syntaxエラーの修正
