version: 2.1

#オーブを使用してシンプルな構成にする
orbs:
  heroku: circleci/heroku@1.2.6

workflows:
  heroku_deploy:
    jobs:
      - deploy

jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - heroku/deploy-via-git
      - heroku/deploy-via-git: # Deploys branch to Heroku via git push.
          only-branch: main
